i {
    margin: 10px;
    padding: 20px;
    font-size: 100px;
    animation: i 3s ease infinite;
}

.far {
    color: red;
}

.fas {
    color: green;
}

/* img {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    transform: translate(200px, 100px);
    animation: img 3s ease infinite;
    opacity: 0.5;
} */

@keyframes img {
    50% {
        transform: scale(2.5) translate(100px, 100px);
    }

    70% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes i {
    70% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.columns {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
}

.box1 {
    grid-area: 1/1/6/6;
    background-color: black;

}

.box2 {
    grid-area: 1/1/5/6;
    background-color: rgb(104, 18, 165);

}

.box3 {
    grid-area: 1/2/4/5;
    background-color: black;
}

.box4 {
    grid-area: 2/3/3/4;
    background-color: rgb(212, 0, 255);

}

.box5 {
    grid-area: 4/3/5/4;
    background-color: black;

}